.btn-simple {
  display: inline-block;
  margin-right: auto;
  font-size: 1.2rem;
  padding: 1rem;
  border-bottom: 1px solid rgb(0, 0, 0);
  transition: all 0.2s;
}

.btn-primary:hover {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
  cursor: pointer;
}

.proposition-button:link,
.proposition-button:visited {
  overflow: hidden;
  position: relative;

  background-image: linear-gradient(
    to right bottom,
    var(--primary-light),
    var(--primary-dark)
  );
  padding: 1.5rem 7rem;
  text-decoration: none;
  color: var(--grey-light);
  border-radius: 100px;
  text-transform: uppercase;
}

// .proposition-button:active,
// .proposition-button:hover {
//   &__start_span {
//     transform: translateY(-100%);
//   }

//   &__tail_span {
//     top: 0;
//   }
// }
