.gallery {
  height: 25%;
  width: 100%;
  display: flex;
}

.hotel-image {
  width: 33.35%;
}

.overview {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.hotel-name__header {
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.star-rating {
  flex: 1;
  margin-right: auto;
}

.star-list {
  display: flex;
  gap: 0.5rem;
}

.hotel-location {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--primary);
  font-size: 1.2rem;

  &:focus {
    animation: pulsate 0.4s infinite;
  }
}

.hotel-rating {
  padding: 1rem 1rem;
  align-self: stretch;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  gap: 0.2rem;
}

.common-rating {
  font-size: 2.2rem;
}

.votes-count {
  font-weight: 400;
  text-transform: uppercase;
}

.icon-star {
  height: 2rem;
  stroke: var(--primary);
}

.icon-location {
  height: 2rem;
  stroke: var(--primary);
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
